{% extends 'base.html' %} 
        <aside>
        {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li>User: {{ user.get_username }}</li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>   
            <li><a href="/register">Sign Up</li></p>
          {% endif %} 
        </aside>
{% block head_title %}{{ post.title | safe }}{% endblock %}
{% block title %}{{ post.title | safe }}{% endblock %}

{% block content %}
    {% if post.image_link %}
    <img src="{{ post.image_link }}" width="300"/>
    {% endif %}
    {{ post.body | safe }}
{% endblock %}